<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.framework.entity.book.BookEntity">

	<!-- 数据库映射配置 -->
	<resultMap type="com.framework.entity.book.BookEntity" id="bookEntity">
		<id property="id" column="id" />
		<result property="bookNo" column="book_no" />
		<result property="title" column="title" />
		<result property="author" column="author" />
		<result property="publisher" column="publisher" />
		<result property="issueDate" column="issue_date" />
		<result property="content" column="content" />
		<result property="desc" column="desc" />
		<result property="creator" column="creator" />
		<result property="operator" column="operator" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>


	<!-- 添加 -->
	<insert id="insert" parameterType="bookEntity">
		insert into book(
		book_no,title,author,publisher,issue_date,content,`desc`,creator,operator
		)
		values(#{bookNo},#{title},#{author},#{publisher},#{issueDate},#{content},#{desc},#{creator},#{operator})
	</insert>

	<update id="update" parameterType="bookEntity">
		update book set book_no =
		#{bookNo},
		title=#{title},author=#{author},
		publisher=#{publisher},issue_date=#{issueDate},
		content=#{content},
		`desc`=#{desc}
		where id = #{id}
	</update>

	<select id="queryById" parameterType="java.lang.Long"
		resultType="bookEntity">
		select
		id,book_no,title,author,publisher,issue_date,content,`desc`
		from book
		where id = #{id}
	</select>

	<select id="queryListByName" parameterType="java.lang.String"
		resultMap="bookEntity">
		select
		id,book_no,title,author,publisher,issue_date,content,`desc`
		from
		book
		where title like '%${_parameter}%'
	</select>

</mapper>